@model CodeFirst.Models.Student
@{
    ViewBag.Title = "Insert";
}

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2 class="text-center">Create Student</h2>

            @using (Html.BeginForm("Insert", "Student", FormMethod.Post))

            {

                <div class="Form-group">

                    @Html.LabelFor(model => model.Name)
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-controll" })


                </div>
                <br />

                <div class="Form-group">

                    @Html.LabelFor(model => model.Age)
                    @Html.TextBoxFor(model => model.Age, new { @class = "form-controll" })
                   

                </div>
                <br />

                

                <button type="submit" class="btn btn-primary" onclick="location.href='@Url.Action("StudentDisplay", "Student")'">Save</button>
            }

        </div>
    </div>
</div>
