


@model List<CodeFirst.Models.Student>
@{
    ViewBag.Title = "GetStudents";
}

<h2>StudentDetails</h2>


<button type="submit" class="btn btn-primary" onclick="location.href='@Url.Action("Insert", "Student")'">Add Student</button>


<table border="1">

    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Age</th>
        <th>Action1</th>
        <th>Action2</th>
    </tr>

    @foreach (var student in Model)
    {
        <tr>
            <td>@student.ID</td>
            <td>@student.Name</td>
            <td>@student.Age</td>

            <td>
                <button type="button" onclick="location.href='@Url.Action("Edit", "Student", new {id=student.ID})'" class="navbar-brand">Edit</button>
            </td>

            <td>
                <button type="button" onclick="location.href='@Url.Action("Delete", "Student", new {id=student.ID})'" class="navbar-brand">Delete</button>
            </td>

        </tr>
    }


</table>
